@charset "utf-8";
body, body.tei.tei-text {
    color: black;
    background-color: white;
    width: auto;
    border: 0;
    padding: 0
    }
h3 , pre {
     font-size:80%;
    }
div, p,  h1, h2,  h4, h5, h6 {
    margin-left: 20%;
    margin-right: 20%;
    }
div.pgebub-root-div {
    margin: 0
    }
h3 {
    page-break-before:always;
    }
div.figcenter span.caption {
    display: block
    }
.pgmonospaced {
    font-family: monospace;
    font-size: 0.9em
    }
.picpara {
          margin:0;
          text-align:justify;
    }

a.pgkilled {
    text-decoration: none
    }
img { 
    max-height: 75%;
    width: 100%;
    }
p  {
   word-break:keep-all;
   orphans:3;
   text-align:center;
   font-size:150%;
   line-height:140%;
   vertical-align:middle;
}

 
 
tt {
    color:#999999;
    font-weight:100%; 
}

i {
  font-size:85%;
  font-weight:50%;
}
